<div class="diff-dom-wrapper">
  <form action="/approve-articles" method="post">
    <div class="container">
      <div class="row">
        {{#each articles}}
          <div class="col-xs-12 col-sm-6" style="border: 2px solid black;">
            <img src="{{this.imageURL}}" class="img-responsive">
            <a href="{{this.adminArticleURL}}">
              <h2 class="">{{this.headline}}</h2>
            </a>
            <h3 class="">{{this.subline}}</h3>
            <h4>Your approval verdict: {{this.historicalApprovalVerdict}}</h4>
            <h4>When you made this verdict: {{this.historicalApprovalTimestamp}}</h4>
            <h4>Current Approval Status: {{this.approval}}</h4>
          </div>
        {{/each}}
      </div>
      <div style="text-align: center;">
        {{! THIS FORM IS DUPLICATED IN articleTemplate.hbs }}
        <select id="kmw-article-view-approval" name="approval_verdict">
          <option value="approved">Approve</option>
          <option value="denied">Deny</option>
        </select>
        <input type="submit">
      </div>
    </div>
  </form>
</div>
