<nav class='NAV-STUB'></nav>
<p>headline = {{article.headline}}</p>
<p>subline = {{article.subline}}</p>
<img src="{{article.imageURL}}">
<div class="fb-like" data-href="{{articleURL}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<div class="fb-comments" data-href="{{articleURL}}" data-width="500" data-numposts="5"></div>
{{!-- <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div> --}}

