<nav class='NAV-STUB'></nav>
<nav class='FLAG-ARTICLE-MODAL-STUB'></nav>
<div class="container">

  {{#unless articleDoneFetching}}
    Loading...
  {{/unless}}

  {{#if isAdminRouteAndNotDoneFetching}}
    Verifying that you are an admin. Please wait..
  {{/if}}

  {{#if isAdminRouteAndNotAdmin}}
    You are either not logged in or not an admin.
  {{/if}}

  {{!-- Headline, subline, and imageURL already escaped in EJS --}}
  {{#if authorOrApprovedOrAdmin}}
    <h1 id="kmw-headline">headline = {{article.headline}}</h1>
    <h2 id="kmw-subline">subline = {{article.subline}}</h2>
    <img src="{{imageURL}}" class="img-responsive">
  {{/if}}

  {{#if approvalPendingAndAuthor}}
    This headline is awaiting review to make sure that it complies with facebook's guidelines. No one else can see it yet.
    To be notified after it has been reviewed, you may enter your email address. Otherwise, please check back later. <br>
  {{/if}}

  {{#if approvalPendingAndNotAuthor}}
    This headline is awaiting review to make sure that it complies with facebook's guidelines. It will be visible after
    approval. To be notified after it has been reviewed, you may enter your email address. Otherwise, please check back later.<br>
  {{/if}}

  {{! TODO post a link to facebook's community guidelines }}
  {{#if approvalDenied}}
    Sorry, this article was NOT approved. Please make sure that any headlines you create comply with Facebook's guidelines.<br>
  {{/if}}

  {{#if isAdminAndIsAdminRoute}}
    Approval Status: {{approvalStatus}} <br>

    {{! THIS FORM IS DUPLICATED IN selectableArticleGridTemplate.hbs }}
    <form action="/approve-articles" method="post">
      <!--<input type="hidden" id="kmw-article-view-article-id" name="article_url_slug" value="{{article.articleURLSlug}}">-->
      <input type="hidden" name="article_ids[]" value="{{article._id}}">

      <label for="kmw-approval">Change approval status.</label>
      <select id="kmw-article-view-approval" name="approval_verdict">
        <option value="approved">Approve</option>
        <option value="denied">Deny</option>
      </select>

      <input type="hidden" id="kmw-need-approval-redirect-url" name="redirect_url" value="{{articleURL}}">
      <input type="submit">
    </form>
  {{/if}}

  {{#if approved}}
    <img class="kmw-js-spam-flag kmw-spam-flag" src="/images/flag.svg">
      <img class="kmw-js-upvote kmw-upvote {{#if isUpVoted}}kmw-selected{{/if}}" src="/images/thumbs-up.svg">
      <img class="kmw-js-downvote kmw-downvote {{#if isDownVoted}}kmw-selected{{/if}}" src="/images/thumbs-down.svg">
    <div class="fb-like" data-href="{{articleURL}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <br/>
    <div class="fb-comments" data-href="{{articleURL}}" data-width="500" data-numposts="5"></div>
    <div class="row">
      <div class="col-xs-12 kmw-landing-copywriting">
        New here? There are no actual articles on this website. Since 60% of the time when people share articles, they
        never even clicked on or read the article<sup><a href="{{{citationURL}}}" class="kmw-citation" target="_blank">[1]</a></sup>, we have dedicated this
        website to only headlines. You can easily <a href="/upload">create and share your own headline</a>, or
        <a href="/">browse headlines that other people have created.</a>
      </div>
    </div>
  {{/if}}
</div>
{{!-- <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div> --}}
