<nav class='NAV-STUB'></nav>
<div class='FLAG-ARTICLE-MODAL-STUB'></div>
  {{!-- Headline, subline, and imageURL already escaped in EJS --}}
<div class="kmw-article-image-and-widgets-wrapper">
  {{#if authorOrApprovedOrAdmin}}
      <img class="kmw-article-image" src="{{imageURL}}">
    <h1 class="kmw-article-headline kmw-align-with-comments">{{article.headline}}</h1>
    <h2 class="kmw-article-subline kmw-align-with-comments">{{article.subline}}</h2>
  {{/if}}

  {{#if approvalPendingAndAuthor}}
    <div class="kmw-font-stuff">
      This headline is awaiting approval to make sure that it complies with <a href="https://www.facebook.com/communitystandards">Facebook's guidelines.</a> No one else can see it yet.
      It will be visible and shareable after being approved. To be notified after it has been approved, you may enter your
      email address. Otherwise, please check back at this same URL soon. <br>
    </div>
  {{/if}}

  {{#if approvalPendingAndNotAuthor}}
    <div class="kmw-font-stuff">
      This headline is awaiting approval to make sure that it complies with <a href="https://www.facebook.com/communitystandards">Facebook's guidelines.</a> It will be visible and shareable after
      approval. To be notified after it has been approved, you may enter your email address. Otherwise, please check back at this same URL soon.<br>
    </div>
  {{/if}}

  {{#if approvalPending}}
    <form action="/article-approval-notification" id="kmw-article-upload-form" class="approval-notification-form kmw-font-stuff" method="post">
      <label for="article-notification-email">Email address for notification</label>
      <div id="notification-email-form-group" class="form-group">
        <input type="text" id="article-notification-email" class="form-control" name="email_address" placeholder="yoloswag420@aol.com">
      </div>
      <input type="hidden" id="article-id" name="article_id">

      <input type="submit" class="approval-notification-submit btn btn-primary form-control" value="Submit" id="approval-notification-submit">
    </form>

    <div id="approval-notification-loading-wheel" class="approval-notification-loading-wheel kmw-hidden"></div>

    <div class="article-invalid-email kmw-hidden alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Invalid Email Address.
    </div>

    <div class="approval-notification-error kmw-hidden alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Success:</span>
      Something went wrong. Please try again.
    </div>

    <div class="approval-notification-success kmw-hidden alert alert-success" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Success
    </div>

  {{/if}}

  {{! TODO post a link to facebook's community guidelines }}
  {{#if approvalDenied}}
    Sorry, this article was NOT approved. Please make sure that any headlines you create comply with Facebook's guidelines.<br>
  {{/if}}

  {{#if isAdmin}}
    {{! will use method=PATCH }}
    <form id="patch-article" action="/article" class="article-approve-articles-form" {{!method="PATCH"}}>
      <!--<input type="hidden" id="kmw-article-view-article-id" name="article_url_slug" value="{{article.articleURLSlug}}">-->
      <input type="hidden" name="article_id" value="{{article._id}}">

      Current Approval Status: {{approvalStatus}} <br>
      <label for="kmw-article-view-approval">Change approval status.</label>
      <select id="kmw-article-view-approval" name="approval_verdict">
        <option value="approved">Approve</option>
        <option value="denied">Deny</option>
      </select><br>

      Current Listed Status: {{listedStatus}} <br>
      <label for="article-listed-status">Change listed status.</label>
      <select id="article-listed-select" name="listed">
        <option value="true">Listed</option>
        <option value="false">Unlisted</option>
      </select><br>

      <input type="hidden" id="kmw-need-approval-redirect-url" name="redirect_url" value="{{articleURL}}">
      <input type="submit">
    </form>
  {{/if}}

  {{#if approved}}
    <!--<div class="kmw-article-image-and-widgets-wrapper">-->
      <img class="kmw-js-spam-flag kmw-spam-flag kmw-align-with-comments" src="/images/flag.svg">
      <img class="kmw-js-upvote kmw-upvote {{#if isUpVoted}}kmw-selected{{/if}}" src="/images/thumbs-up.svg">
      <img class="kmw-js-downvote kmw-downvote {{#if isDownVoted}}kmw-selected{{/if}}" src="/images/thumbs-down.svg">
      <br>
      <div class="kmw-like-page kmw-font-stuff kmw-align-with-comments">
        Like <a target="_blank" class="kmw-our-page" href="https://www.facebook.com/nothingbutheadlines">our Facebook page</a> for much hilarity.
      </div>
      {{#unless socialPluginsCached}}
        <div class="fb-like kmw-fb-like kmw-align-with-comments" data-href="https://www.facebook.com/nothingbutheadlines" data-layout="standard" data-action="like" data-width="320" data-show-faces="true" data-share="false"></div>
      {{else}}
        <div class='FB-LIKE-STUB'></div>
      {{/unless}}
      <br/>
      <div class="kmw-share-headline kmw-font-stuff kmw-align-with-comments">
        Share this headline on Facebook.
      </div>
      {{#unless socialPluginsCached}}
        <div class="fb-share-button kmw-fb-share kmw-align-with-comments" data-href="{{articleURL}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{urlEncodedArticleURL}}&amp;src=sdkpreparse">Share</a></div>
      {{else}}
        <div class='FB-SHARE-STUB'></div>
      {{/unless}}
      <br/>
      {{#unless socialPluginsParsed}}
        <div class="kmw-loading-comments kmw-font-stuff kmw-align-with-comments">
          Loading facebook commentfs
          <div id="article-loading-wheel" class="kmw-loading-wheel kmw-hidden"></div>
        </div>
      {{/unless}}
      {{#unless socialPluginsCached}}
        <div class="fb-comments" data-href="{{articleURL}}" data-width="100%" data-colorscheme="light" data-numposts="5"></div>
      {{else}}
        <div class='FB-COMMENTS-STUB'></div>
      {{/unless}}
      <!--<div class="row">-->
        <div class="{{!col-xs-12 }}kmw-landing-copywriting">
          Since data shows that 60% of the time when people share articles, they never even clicked on the article before sharing
          it<sup><a href="{{{citationURL}}}" class="kmw-citation" target="_blank">[1]</a></sup>, we have dedicated this
          website to only headlines (there are no actual articles here). You can easily <a class="create-and-share" href="/upload">create your own headline and share it on Facebook.</a>
          Create a headline making fun of your friend for passing out drunk at the party. Create whatever you want.
        </div>
        <div class="article-other-headlines">
          Other Headlines You May Like:
        </div>
      <div class="article-view-article-grid-container">
        <div class='ARTICLE-GRID-STUB'></div>
      </div>
      <!--</div>-->
    <!--</div>-->
  {{/if}}
</div>
