<nav class='NAV-STUB'></nav>
<div class='FLAG-ARTICLE-MODAL-STUB'></div>
  {{!-- Headline, subline, and imageURL already escaped in EJS --}}
  {{#if authorOrApprovedOrAdmin}}
    <div class="kmw-article-image-and-widgets-wrapper">
      <img class="kmw-article-image" src="{{imageURL}}">
    </div>
    <h1 class="kmw-article-headline kmw-align-with-comments">{{article.headline}}</h1>
    <h2 class="kmw-article-subline kmw-align-with-comments">{{article.subline}}</h2>
  {{/if}}

  {{#if approvalPendingAndAuthor}}
    This headline is awaiting review to make sure that it complies with facebook's guidelines. No one else can see it yet.
    To be notified after it has been reviewed, you may enter your email address. Otherwise, please check back later. <br>
  {{/if}}

  {{#if approvalPendingAndNotAuthor}}
    This headline is awaiting review to make sure that it complies with facebook's guidelines. It will be visible after
    approval. To be notified after it has been reviewed, you may enter your email address. Otherwise, please check back later.<br>
  {{/if}}

  {{! TODO post a link to facebook's community guidelines }}
  {{#if approvalDenied}}
    Sorry, this article was NOT approved. Please make sure that any headlines you create comply with Facebook's guidelines.<br>
  {{/if}}

  {{#if isAdminAndIsAdminRoute}}
    Approval Status: {{approvalStatus}} <br>

    {{! THIS FORM IS DUPLICATED IN selectableArticleGridTemplate.hbs }}
    <form action="/approve-articles" method="post">
      <!--<input type="hidden" id="kmw-article-view-article-id" name="article_url_slug" value="{{article.articleURLSlug}}">-->
      <input type="hidden" name="article_ids[]" value="{{article._id}}">

      <label for="kmw-approval">Change approval status.</label>
      <select id="kmw-article-view-approval" name="approval_verdict">
        <option value="approved">Approve</option>
        <option value="denied">Deny</option>
      </select>

      <input type="hidden" id="kmw-need-approval-redirect-url" name="redirect_url" value="{{articleURL}}">
      <input type="submit">
    </form>
  {{/if}}

  {{#if approved}}
    <div class="kmw-article-image-and-widgets-wrapper">
      <img class="kmw-js-spam-flag kmw-spam-flag kmw-align-with-comments" src="/images/flag.svg">
      <img class="kmw-js-upvote kmw-upvote {{#if isUpVoted}}kmw-selected{{/if}}" src="/images/thumbs-up.svg">
      <img class="kmw-js-downvote kmw-downvote {{#if isDownVoted}}kmw-selected{{/if}}" src="/images/thumbs-down.svg">
      <br>
      <div class="kmw-like-page kmw-font-stuff kmw-align-with-comments">
        Like <a target="_blank" class="kmw-our-page" href="https://www.facebook.com/nothingbutheadlines">our Facebook page</a> for much hilarity.
      </div>
      {{#unless socialPluginsCached}}
        <div class="fb-like kmw-fb-like kmw-align-with-comments" data-href="https://www.facebook.com/nothingbutheadlines" data-layout="standard" data-action="like" data-width="320px" data-show-faces="true" data-share="false"></div>
      {{else}}
        <div class='FB-LIKE-STUB'></div>
      {{/unless}}
      <br/>
      <div class="kmw-share-headline kmw-font-stuff kmw-align-with-comments">
        Share this headline on Facebook.
      </div>
      {{#unless socialPluginsCached}}
        <div class="fb-share-button kmw-fb-share kmw-align-with-comments" data-href="{{articleURL}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{urlEncodedArticleURL}}&amp;src=sdkpreparse">Share</a></div>
      {{else}}
        <div class='FB-SHARE-STUB'></div>
      {{/unless}}
      <br/>
      {{#unless socialPluginsParsed}}
        <div class="kmw-loading-comments kmw-font-stuff kmw-align-with-comments">
          Loading facebook comments...
        </div>
      {{/unless}}
      {{#unless socialPluginsCached}}
        <div class="fb-comments" data-href="{{articleURL}}" data-width="100%" data-colorscheme="light" data-numposts="5"></div>
      {{else}}
        <div class='FB-COMMENTS-STUB'></div>
      {{/unless}}
      <!--<div class="row">-->
        <div class="{{!col-xs-12 }}kmw-landing-copywriting">
          Since data shows that 60% of the time when people share articles, they never even clicked on the article before sharing
          it<sup><a href="{{{citationURL}}}" class="kmw-citation" target="_blank">[1]</a></sup>, we have dedicated this
          website to only headlines (there are no actual articles here). You can easily <a class="create-and-share" href="/upload">create your own headline and share it on Facebook.</a>
        </div>
        <div class="article-other-headlines">
          Other Headlines You May Like:
        </div>
      <div class="article-view-article-grid-container">
        <div class='ARTICLE-GRID-STUB'></div>
      </div>
      <!--</div>-->
    </div>
  {{/if}}
