<div class="diff-dom-wrapper">
  <form action="/approve-articles" method="post">
    <div class="container">
      <div class="row">
        {{#each articles}}
          <div class="col-xs-12 col-sm-6" style="border: 2px solid black;">
            <img src="{{this.imageURL}}" class="img-responsive">
            <input type="checkbox" name="article_ids[]" value="{{this._id}}"/>
            {{#if ../useFlagsURL}}
              <a href="/flags/{{this._id}}">
            {{else}}
              <a href="{{this.articleURL}}">
            {{/if}}
              <h2 class="">{{this.headline}}</h2>
            </a>
            <h3 class="">{{this.subline}}</h3>
          </div>
        {{/each}}
      </div>
      <div style="text-align: center;">
        {{! THIS FORM IS DUPLICATED IN articleTemplate.hbs }}
        <select id="kmw-article-view-approval" name="approval_verdict">
          <option value="approved">Approve</option>
          <option value="denied">Deny</option>
        </select>
        <input type="hidden" id="kmw-need-approval-redirect-url" name="redirect_url" value="/admin/need-approval-articles">
        <input type="submit">
      </div>
    </div>
  </form>
</div>
