<label for="picture-search-terms">Image search terms</label>
<input type="text" id="picture-search-terms" placeholder="Search terms." value="{{searchTerm}}">
<button type="button" id="picture-search-go" class="picture-search-go btn btn-primary">Search</button>
<input type="hidden" id="kmw-image-id-hidden" name="image_id" class="image-picker kmw-image-picker">

<div class="container-fluid">
  <select id="kmw-image-id" class="image-picker kmw-image-picker">
    <option value=""></option>
    {{#each images}}
        <option data-img-src="{{this.url}}" value="{{this._id}}"{{#if this.selected}} selected="selected"{{/if}}>sup</option>
    {{/each}}
  </select>
  <div class="picture-arrows-container">
    <img src="/images/Green_Arrow.svg" class="picture-arrow picture-arrow-left{{#if leftArrowDisabled}} disabled{{/if}}">
    {{#if doneFetching}}
      {{#if resultsExist}}
        Images {{numberOfFirstResult}} - {{numberOfLastResult}}
      {{else}}
        No Results Found.
      {{/if}}
    {{else}}
      Loading results...
    {{/if}}
    <img src="/images/Green_Arrow.svg" class="picture-arrow picture-arrow-right{{#if rightArrowDisabled}} disabled{{/if}}">
  </div>
  <div class="center-text">
    <button type="button" class="btn btn-primary upload-next-button kmw-picture-next">Next</button>
  </div>
</div>
