<nav class='NAV-STUB'></nav>
<form action="/article" id="kmw-article-upload-form" method="post">
  <div id="accordion" class="kmw-accordion">
    <h3 id="kmw-picture-tab">1. <span class="kmw-accordion-header">Choose a picture.</span></h3>
    <div>
      <div class="kmw-breadcrumb-wrapper">
        <a href="#" class="kmw-breadcrumb-main">Upload an image or select an image?</a> <span class="kmw-arrow kmw-hidden">></span>
        <a href="#" class="kmw-breadcrumb-upload kmw-hidden">Upload Image</a>
        <a href="#" class="kmw-breadcrumb-select kmw-hidden">Select Image</a>
      </div>
      <div class="kmw-picture-default">
        <div class="container-fluid">
          <div class="row kmw-field-description">
            Please select an image that will be displayed when your headline is shared on Facebook. It may look
            something like this when shared on Facebook:
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <img src="{{imageSrc}}" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="would-you-like">
          Would you like to:
        </div>
        <button type="button" id="kmw-choose-upload" class="kmw-choose-upload btn btn-primary">Upload An Image</button>
        <div class="kmw-or">
          Or
        </div>
        <button type="button" class="kmw-choose-select btn btn-primary">Select From Our Images</button>
      </div>

      <div class="kmw-picture-upload kmw-hidden center-text">
        {{#if isAdminRoute}}
          In admin Route. Any image uploaded will automatically be featured (assuming you are logged in and an admin).
        {{/if}}
        <!--<input type="hidden" name="feature-image" value="{{#if isAdminRoute}}true{{else}}false{{/if}}">-->

        <!--<label for="kmw-picture-input">Picture</label>-->
        <div class="upload-image-step-1 ">
          <h2>Step 1: Find an image.</h2>
          <div class="upload-image-instructions left-text">
            <div class="kmw-fb-criteria">
              In order for Facebook to display your image properly,
              <a target="_blank" class="kmw-anchor" href="https://developers.facebook.com/docs/sharing/best-practices#images">it needs to meet a set of criteria.</a>
            </div>
            <div class="kmw-short-version">
              Short version: The easiest way we know of to find qualifying images is to google image search for images that are exactly
              1200x630 pixels. However, please do not use any copyrighted images.
            </div>
            <div class="kmw-image-search center-text">
              Search Google for 1200x630 pixel images:
              <input class="form-control kmw-image-search-terms" id="kmw-image-search-terms" placeholder="Search Terms..">
              <button type="button" class="btn btn-default kmw-image-search-go">Search</button>
            </div>
          </div>
        </div>
        <div class="upload-image-step-2">
          <h2>Step 2: Upload Your Image.</h2>
          <label id="kmw-choose-image" class="btn btn-default btn-file kmw-choose-image">
            Choose Image <input accept="image/*" id="kmw-picture-input" style="display:none" type="file">
          </label>
          <div class="choose-image-or">
            Or
          </div>
          <div class="container-fluid image-preview-outer-container no-image-selected">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="image-preview-inner-container no-image-selected image-drag-area">
                  <div class="drag-image-text">
                    Drag an image here.
                  </div>
                  <img id="kmw-image-preview" class="kmw-image-preview no-image-selected img-responsive" src="#"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <input type="checkbox" id="kmw-image-reusable" name="user_allows_image_reuse" checked>
        <label class="kmw-image-reusable-label" for="kmw-image-reusable">Allow other people to use this image for their headlines too.</label>
        <br>
        <button type="button" class="btn btn-primary upload-next-button kmw-picture-next">Done</button>
      </div>

      <div class="kmw-picture-select kmw-hidden">
        <div class='PICTURE-SELECT-STUB'></div>
      </div>

    </div>
    <h3 id="kmw-headline-tab">2. <span class="kmw-accordion-header">Choose a headline.</span></h3>
    <div class="center-text">
      <div class="container-fluid">
        <div class="row kmw-field-description">
          Please enter a headline. The headline may look something like this when shared to Facebook.
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <img src="{{headlineSrc}}" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="kmw-headline-instructions">
        Facebook may not display the full headline if it is too long. We suggest keeping headlines under 100 letters.
      </div>
      <div class="left-text">
        <label class="kmw-headline-label" for="kmw-headline-input">Headline:</label>
        <textarea id="kmw-headline-input" class="form-control kmw-headline-input" name="headline" placeholder="Please enter a headline."></textarea>
        <div class="headline-num-letters-wrapper2">
          <span class="headline-num-letters-wrapper">Number of letters: <span class="headline-num-letters">0</span></span>
        </div>
      </div>
      <button type="button" id="kmw-headline-next" class="btn btn-primary upload-next-button">Done</button>
    </div>
    <h3 id="kmw-subline-tab">3. <span class="kmw-accordion-header">Choose a sub-line (optional).</span></h3>
    <div class="center-text">
      <div class="container-fluid">
        <div class="row kmw-field-description">
          Please enter a sub-line. The sub-line may look something like this when shared to Facebook.
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <img src="{{sublineSrc}}" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="kmw-subline-instructions">
        Facebook may not display the full sub-line if it is too long. The sub-line may not be displayed at all on mobile.
        We suggest keeping sub-lines under 150 letters.
      </div>
      <div class="left-text">
        <label class="kmw-subline-label" for="kmw-subline-input">Subline:</label>
        <textarea class="form-control " id="kmw-subline-input" name="subline" placeholder="Please enter a sub-line."></textarea>
        <div class="subline-num-letters-wrapper2">
          <span class="subline-num-letters-wrapper">Number of letters: <span class="subline-num-letters">0</span></span>
        </div>
      </div>
      <button type="button" id="kmw-subline-next" class="btn btn-primary upload-next-button">Done</button>
    </div>
    <h3 id="kmw-category-tab">4. <span class="kmw-accordion-header">Choose a category.</span></h3>
    <div class="center-text">
      <div class="container-fluid">
        <div class="row kmw-field-description">
          Please select a category.
        </div>
        <div class="row">
          <label for="kmw-category-select">Category</label>
          <select id="kmw-category-select" name="category">
            {{#each categories}}
              <li>
                <option value="{{this.otherSlug}}"{{#if this.selected}} selected{{/if}}>{{this.prettyName}}</option>
              </li>
            {{/each}}
          </select>
        </div>
      </div>
      <br>
      <button type="button" id="kmw-category-next" class="btn btn-primary upload-next-button">Done</button>
    </div>
    <h3 id="kmw-terms-tab">5. <span class="kmw-accordion-header">Captcha + Terms and Conditions</span></h3>
    <div class="center-text">
      <div class="kmw-terms-container">
        <div class="kmw-image-uploading kmw-hidden">
          Please wait while your image is uploading.
          <div id="kmw-loading-wheel" class="kmw-loading-wheel kmw-hidden"></div>
        </div>
        <div class="kmw-recaptcha"></div>
        <div id="kmw-validation-errors" class="kmw-validation-errors kmw-hidden"></div>
        <div class="kmw-terms-text-container">
          <input type="checkbox" class="kmw-agree-checkbox" id="kmw-agree" name="agreed_to_terms">I have read and agree to both
          the <a target="_blank" class="kmw-terms" href="/terms-and-conditions">Terms and Conditions</a> and the
          <a target="_blank" class="kmw-terms" href="/privacy-policy">Privacy Policy.</a>
        </div>
        <input type="submit" class="kmw-upload-submit btn btn-primary form-control" value="Submit" id="kmw-submit">
      </div>
    </div>
  </div>

  <input type="hidden" id="kmw-bypass-recaptcha-secret" name="kmw-bypass-recaptcha-secret" value="">
  <input type="hidden" id="kmw-image-selection-method" name="image_selection_method" value="unchosen">

</form>
