<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Temp Title</title>
    <meta name="description" content="<%= article.headline %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO add og:url meta -->
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="<%= article.headline %>" />
    <meta property="og:description"   content="<%= article.subline %>" />
    <meta property="og:image"         content="<%= article.imageURL %>" />
    <% include ../partials/fbappid.ejs %>

    <title>The Carrot</title>
  </head>
  <body>
    <div id="content"></div>
    <script>
      window.kmw = {article: {}};
      <%# 
          Make sure to html escape these user generated values so that we aren't
          vulnerable to injection attacks
       %>
      window.kmw.article.headline = '<%= article.headline %>';
      window.kmw.article.subline = '<%= article.subline %>';
      window.kmw.article.imageURL = '<%= article.imageURL %>';
      window.kmw.article.articleBody = '<%= article.articleBody %>';
    </script>
    <script src="/js/main.js" defer></script>
  </body>
</html>
