<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%if (articleApproval === 'approved') { %>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">

    <meta property="og:url"           content="<%= url %>" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="<%= article.headline %>" />
    <meta property="og:description"   content="<%= article.subline %>" />
    <meta property="og:image:width" content="<%= article.imageWidth %>" />
    <meta property="og:image:height" content="<%= article.imageHeight %>" />
    <meta property="og:image"         content="<%= article.imageURL %>" />
    <meta property="fb:app_id"        content="<%= fbAppId %>" />
    <% } %>
  </head>
  <body>
    <div id="content"></div>
    <script>
      window.kmw = {};
      window.kmw.fbAppId = '<%= fbAppId %>';
      window.kmw.imageBaseUrl = '<%- imageBaseUrl %>';

//      window.kmw = {article: {}};
//      window.kmw.article. = '<%#= article.headline %>';
//      window.kmw.article.headline = '<%#= article.headline %>';
//      window.kmw.article.subline = '<%#= article.subline %>';
//      window.kmw.article.imageURL = '<%#= article.imageURL %>';
//      window.kmw.fbAppId = '<%#= fbAppId %>';
//      window.kmw.url = '<%#= url %>'; // TODO this isn't used anywhere I'm pretty sure
    </script>
    <script src="/js/main.js" defer></script>
  </body>
</html>
