<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO add open graph url meta -->
    <meta property="og:url"           content="<%= url %>" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="<%= article.headline %>" />
    <meta property="og:description"   content="<%= article.subline %>" />
    <meta property="og:image"         content="<%= article.imageURL %>" />
    <meta property="fb:app_id"        content="<%= fbAppId %>" />

    <title>The Carrot</title>
  </head>
  <body>
    <div id="content"></div>
    <script>
      window.kmw = {article: {}};
      <%# 
        NOTE: Make sure to escape these values in the js file so that we aren't vulnerable to inejction attacks.
        I didn't escape them here in the template so that we have control over the escaping mechanism so that we can
        unescape these values later in client side code (so that users dont see ugly text like &amp rather than an
        ampersand in their headline/subline.)
       %>
      window.kmw.article.headline = '<%- article.headline %>';
      window.kmw.article.subline = '<%- article.subline %>';
      window.kmw.article.imageURL = '<%= article.imageURL %>';
      window.kmw.article.articleBody = '<%= article.articleBody %>';
      window.kmw.url = '<%= url %>';
    </script>
    <script src="/js/main.js" defer></script>
  </body>
</html>
