<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Favicon tags generated from http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%if (articleApproval === 'approved') { %>
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">

    <meta property="og:url"           content="<%= url %>" />
    <meta property="og:type"          content="article" />
    <meta property='article:author' content="https://www.facebook.com/nothingbutheadlines" />
    <meta property="og:title"         content="<%- article.headline %>" />
    <meta property="og:description"   content="<%- article.subline %>" />
    <meta property="og:image:width"   content="<%= article.imageWidth %>" />
    <meta property="og:image:height"  content="<%= article.imageHeight %>" />
    <meta property="og:image"         content="<%= imageURL %>" />
    <meta property="fb:app_id"        content="<%= fbAppId %>" />
    <% } %>
  </head>
  <body>
    <div id="content"></div>
    <script>
      window.kmw = {};
      window.kmw.fbAppId = '<%= fbAppId %>';
      window.kmw.imageBaseUrl = '<%- imageBaseUrl %>';
      window.kmw.article = JSON.parse('<%- articleString %>');
      window.kmw.currentUser = JSON.parse('<%- currentUser %>');

//      window.kmw = {article: {}};
//      window.kmw.article. = '<%#= article.headline %>';
//      window.kmw.article.headline = '<%#= article.headline %>';
//      window.kmw.article.subline = '<%#= article.subline %>';
//      window.kmw.article.imageURL = '<%#= article.imageURL %>';
//      window.kmw.fbAppId = '<%#= fbAppId %>';
//      window.kmw.url = '<%#= url %>'; // TODO this isn't used anywhere I'm pretty sure
    </script>
    <% include ../partials/fb.ejs %>
    <script src="/js/main.js" defer></script>
  </body>
</html>
